@import '../abstracts/variables';

.btn {
  display: inline-block;
  padding: 12px 40px;
  border-radius: $border-radius-sm;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: background 0.2s;
  border: none;

  &--primary {
    background: $color-primary;
    color: $color-white;

    &:hover {
      background: $color-primary-dark;
    }
  }

  &--outline {
    background: transparent;
    border: 1px solid $color-border;
    color: $color-black;

    &:hover {
      background: $color-primary;
      color: $color-white;
      border-color: $color-primary;
    }
  }

  &--dark {
    background: $color-black;
    color: $color-white;

    &:hover {
      background: $color-gray-dark;
    }
  }
}