@import '../abstracts/variables';

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
//   color: $color-black;
  line-height: 1.2;
}